// to be compiled
body, html {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
	height: 100%;
}

#sidebar {
	width: 30%;
	height: 100%;
	float: left;
	background-color: white;
	overflow-x: scroll;
	h3 {
		text-align: center;
	}
	hr {
		margin-bottom: 0px;
		border-top: 2px solid grey;
	}

	#placesList {
		padding: 0px;
		-vendor-animation-duration: 0.5s;

		.place {
			border-bottom: 1px solid grey;
			cursor: pointer;
			list-style-type: none;
			text-align: center;
			padding: 20px;
		}
	}

	#placeInfo {
		display: none;
		position: absolute;
		top: 70px;
		width: 30%;
		text-align: center;
		-webkit-animation-duration: 0.5s;
	}
}

#map {
	width: 70%;
	height: 100%;
	float: left;
	background-color: blue;
}
