// to be compiled
body, html {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}

#sidebar {
	width: 30%;
	height: 100%;
	float: left;
	background-color: white;
	overflow-x: scroll;
	z-index:2;
	-webkit-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
	h3 {
		font-family: 'Montserrat', sans-serif;
		text-align: center;
	}
	hr {
		margin-bottom: 0px;
		border-top: 2px solid grey;
	}

	#placesList {
		padding: 0px;
		-vendor-animation-duration: 0.5s;

		.place {
			border-bottom: 1px solid grey;
			cursor: pointer;
			list-style-type: none;
			text-align: center;
			padding: 20px;
		}
	}
}

#placeInfo {
	display: none;
	position: relative;
	overflow: scroll;
	z-index:1;
	width: 30%;
	height: 100%;
	float: left;
	text-align: center;
	-webkit-animation-duration: 0.5s;
	-webkit-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);

	.container {
		width: 100%;
		padding: 0px;
		text-align:center;
		#backToList {
			position: relative;
			width: 80%;
			margin: 10px auto;
		}

		#error {
			margin: 30px auto;
			width: 80%;
		}

		#placeTitle {
			margin: 0;
			padding: 20px;
			border-bottom: 2px solid grey;
		}

		p#placeDescription {
			width: 80%;
			margin: 30px auto;
		}

		hr {
			margin: 0px;
		}

		.rating {
			margin-bottom: 10px;
			margin: 30px auto;
			width: 80%;

			p {
				font-size:30px;
			}
			p.votes {
				margin-top: -7px;
				font-size:12px;
				color: grey;
			}
		}

		.price {
			width: 80%;
			margin: 30px auto;

			#price {
				color: green;
				font-size: 26px;
			}
		}

		#foodTypes {
			list-style-type: none;
			padding: 0px;
			margin: 30px auto
		}
	}

}

#map {
	z-index:9999;
	width: 70%;
	height: 100%;
	float: left;
	background-color: white;
}

#sidebar{
	background-color: #6872D8;
}

#placeInfo{
	background-color: #6872D8;
}

#backToList{
	background-color: #5756A8;
}
#backToList:hover{
	background-color: white;
}

.btn-default {
	color: white;
	border: none;
}

.btn-default:hover {
	color: #5756A8;
}

button{
	color: white;
}

#sidebar{
	background-color: #6872D8;
}

#placeInfo{
	background-color: #6872D8;
}

#backToList{
	background-color: #5756A8;
}
#backToList:hover{
	background-color: white;
}

.btn-default {
	color: white;
	border: none;
}

.btn-default:hover {
	color: #5756A8;
}

button{
	color: white;
}

#sidebar{
	background-color: #6872D8;
}

#placeInfo{
	background-color: #6872D8;
}

#backToList{
	background-color: #5756A8;
}
#backToList:hover{
	background-color: white;
}

.btn-default {
	color: white;
	border: none;
}

.btn-default:hover {
	color: #5756A8;
}

button{
	color: white;
}

#sidebar{
	background-color: #6872D8;
}

#placeInfo{
	background-color: #6872D8;
}

#backToList{
	background-color: #5756A8;
}
#backToList:hover{
	background-color: white;
}

.btn-default {
	color: white;
	border: none;
}

.btn-default:hover {
	color: #5756A8;
}

button{
	color: white;
}
